<a href="https://colab.research.google.com/github/Manishgadhave/Python-Development/blob/main/Python_Developer_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python function that takes a list of records, where each record is a dictionary containing the name of a city and various types of weather data (e.g., temperature, humidity). The function should aggregate this data to provide insights such as the average temperature and humidity for each city. However, each record may not contain all types of data. The solution should gracefully handle missing data.

In [1]:
def aggregate_weather_data(records):
  #dict to store aggregate data for each city
  city_data = {}

  #iterate through each record
  for record in records:
    city = record.get('city')
    temperature = record.get('temperature')
    humidity = record.get('humidity')

    if city not in city_data:
      city_data[city] = {
          'temperature_sum': 0,
          'temperature_count': 0,
          'humidity_sum': 0,
          'humidity_count': 0
      }

    #Add temperature to aggregate if present
    if temperature is not None:
      city_data[city]['temperature_sum'] += temperature
      city_data[city]['temperature_count'] += 1

    #Add humidity to aggregate if present
    if humidity is not None:
      city_data[city]['humidity_sum'] += humidity
      city_data[city]['humidity_count'] += 1

    #generate summary of averages
    city_averages = {}
    for city, data in city_data.items():
      avg_temp = (data['temperature_sum'] / data['temperature_count']
                  if data ['temperature_count'] > 0 else None)
      avg_humidity = (data['humidity_sum'] / data['humidity_count']
                      if data ['humidity_count'] > 0 else None)

      city_averages[city] = {
          'average_temperature': avg_temp,
          'average_humidity': avg_humidity
      }

    return city_averages

In [2]:
weather_records = [
    {'city': 'New York', 'temperature': 22, 'humidity': 60},
    {'city': 'Los Angeles', 'temperature': 26},
    {'city': 'New York', 'humidity': 55},
    {'city': 'Chicago', 'temperature': 18, 'humidity': 65},
    {'city': 'Los Angeles', 'humidity': 50},
    {'city': 'Chicago', 'temperature': 20}
]

In [3]:
aggregated_data = aggregate_weather_data(weather_records)
print(aggregated_data)

{'New York': {'average_temperature': 22.0, 'average_humidity': 60.0}}

2. Write a Python function to perform prime factorization of a given integer. The function should return a list of tuples, where each tuple contains a prime factor and its corresponding exponent. For example, given the integer 60, the function should return [(2, 2), (3, 1), (5, 1)] since 60 = 2^2 * 3^1 * 5^1.

In [4]:
def prime_factorization(n):
  factors = []
  divisor = 2

  while n > 3:
    count = 0

    #count how many times n is divisible by the current divisor
    while n % divisor == 0:
      n //= divisor
      count += 1

    # if the divisor divides n at least once, add it to the list of factors
    if count > 0:
      factors.append((divisor, count))

    #move to the next possible divisor
    divisor += 1

  return factors

In [5]:
# Example usage
n = 60
result = prime_factorization(n)
print(result)

[(2, 2), (3, 1), (5, 1)]

Scenario: A table named products contains columns id, name, and price.
Task: Write a SQL query to increase the price of all products by 10% and display the new prices along with the product names.

In [ ]:
SELECT name, price * 1.10 AS new_price
FROM products;